@{
    Layout = null;
    ViewBag.Title = "Авторизация";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">


    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/registration-login-css")
</head>
<body>
   

    <div class="container">
        
        <form class="form-signin">
            <h2 class="form-signin-heading">Форма входа</h2>
            <div >
                <div class="alert alert-danger alert-dismissable form-alert" style="display:none;">
                    Введены неверные данные
                </div>
                <div class="alert alert-info form-alert " style="display:none;">
                    <img src="~/Content/image/loading_circle.gif" width="20" /> Выполняется вход
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin">Логин входа </label>
                <input type="text" id="inputLogin" class="form-control" placeholder="домен\логин" required autofocus>
            </div>
            <div class="form-group">
                <label for="domen">
                    Домен
                </label>
                <select id="domen" class="form-control">
                    <option value="main">main</option>
                    <option value="math">math</option>
                    <option value="">-</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputPassword" >Пароль</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            </div>
           
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
        <div style="text-align:center;">
            <a class="btn btn-link"  href="Register">Регистрация</a>

        </div>
        
    </div> <!-- /container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/polyfill")
    <!--<script>

        $(function () {
            $(".form-signin").submit(function () {
                var loginData = {
                    grant_type: 'password',
                    username: $("#inputLogin").val().trim(),
                    password: $("#inputPassword").val().trim()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).done(function (data) {
                    //GSU.token = /*token_type + */"Bearer  " + data.access_token;
                    // Cache the access token in session storage.
                    sessionStorage.setItem("token", "Bearer  " + data.access_token);
                    document.location = "/";
                }).fail();

                return false;

            });



        })

    </script>-->
    <script>

        $(function () {
            $(".form-signin2").submit(function () {
                $('.alert-info').show(1000);
                $('.alert-danger').hide();

                var loginData = {
                    grant_type: 'password',
                    Email: $("#inputLogin").val().trim(),
                    Password: $("#inputPassword").val().trim()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Account2/Login',
                    data: loginData
                }).done(function (data) {
                    //GSU.token = /*token_type + */"Bearer  " + data.access_token;
                    // Cache the access token in session storage.
                    $('.alert-info').hide();
                    if (data.success) {
                        //sessionStorage.setItem("token", "Bearer  " + data.access_token);
                        document.location = "/";
                    } else {
                        $('.alert-danger').show();
                    }
                }).fail();

                return false;

            });

            $(".form-signin").submit(function () {
                $('.alert-info').show(1000);
                $('.alert-danger').hide();


                var loginData = {
                    grant_type: 'password',
                    client_id: 'ngAuthApp',
                    username: $("#inputLogin").val().trim(),
                    password: $("#inputPassword").val().trim()
                };

                if ($("#domen").val().trim() != '') {
                    loginData.username = $("#domen").val().trim() + '\\' + loginData.username;
                }
                $.ajax({
                    type: 'POST',
                    url: '@HttpRuntime.AppDomainAppVirtualPath/Token'.replace("//", "/"),
                    data: loginData
                }).done(function (data) {
                    //GSU.token = /*token_type + */"Bearer  " + data.access_token;
                    // Cache the access token in session storage.
                    $('.alert-info').hide();
                    if (!data.error) {
                        data.role = data.role.split(",");
                        localStorage.setItem("token", JSON.stringify(data));
                        console.log(data);
                        document.location = "@HttpRuntime.AppDomainAppVirtualPath/".replace("//", "/");
                    } else {
                        $('.alert-danger').show();
                    }
                }).fail(function () { $('.alert-info').hide(); $('.alert-danger').show(); });

                return false;

            });



        })

    </script>

</body>
</html>
